<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet " href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL BUDZZ</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
        <!--SLIDESHOW CONTAINER-->
        
    <div class="slideshow">
            <div class="imgslide">
                <img src="slideshow1.jpg" style="width:1550px;height: 750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow2.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow3.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow4.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <h1>TRAVEL BUDZZ 
                <!--Links to Login and Sign Up Pages-->
                    <button class="Button login" onclick="loginPage()" style="width:125px;right:150px"><b>Login</b></button>
                    <button class ="Button signUp" onclick="signupPage()" style="width:125px;right:40px"><b>Sign Up</b></button>
                </h1>
    </div>
    <p style="font-family: 'Kalam', cursive;position: absolute;top:0;left:575px;font-size:70px"><b>Travel Budzz</b></p>
    <p style="font-family: 'Kalam', cursive;position: absolute;bottom:0;left:150px;font-size:50px"><b>It's the friend we meet along the journey that helps us<br> appreciate the journey.</b></p>
    <script src="script.js"></script>
</body>
</html>