<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet " href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL BUDZZ</title>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200&display=swap" rel="stylesheet">
</head>
<body>
        <!--SLIDESHOW CONTAINER-->
        
    <div class="slideshow">
            <div class="imgslide">
                <img src="slideshow1.jpg" style="width:1550px;height: 750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow2.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow3.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow4.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <h1>TRAVEL BUDZZ 
    </div>
    <!--Navigation Buttons-->
            <div style="display: inline-block">
            <button class="Button navigate" onclick="return1()"style="border-radius: 90px;width:200px;height:200px;position: absolute;top: 400px;right:500px"><b>Register as a Travel Buddy</b></button>
            <button class="Button navigate" onclick="logout()" style="border-radius: 90px;width:200px;height:200px;position: absolute;top: 400px;left:500px"><b>Find a Travel Buddy</b></button>
            </div>
    <script src="script.js"></script>
</body>
</html>