<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet " href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL BUDZZ</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200&display=swap" rel="stylesheet">
</head>
<body>
        <!--SLIDESHOW CONTAINER-->
        
    <div class="slideshow">
            <div class="imgslide">
                <img src="slideshow1.jpg" style="width:1550px;height: 750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow2.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow3.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <div class="imgslide">
                <img src="slideshow4.jpg" style="width:1550px;height:750px;position:absolute; right:0px;top:0px">
            </div>
            <h1>TRAVEL BUDZZ 
    </div>
    <!--Navigation Buttons-->
            <div style="display: inline-block">
            <button class="Button navigate" onclick="Register()"style="border-radius: 90px;width:300px;height:300px;position: absolute;top: 300px;right:400px;background-image: url('navigate1.jpg');hover:background-image: url('navigate1.jpg')"><b>Register as a Travel Buddy</b></button>
            <button class="Button navigate" onclick="Find()" style="border-radius: 90px;width:300px;height:300px;position: absolute;top: 300px;left:400px;background-image: url('navigate1.jpg');hover:background-image: url('navigate2.jpg')"><b>Find a Travel Buddy</b></button>
            </div>
    <script src="script.js"></script>
</body>
</html>